.header {
    text-align: center;
    padding: 25px;
    background: rgb(210,82,0);
    background: radial-gradient(circle, rgba(210,82,0,1) 24%, rgba(45,166,247,1) 44%);
    color: white;
    width: auto;
}

html, body, main {
    height: 100%;
}

#firstCol {
    background-color: rgb(216, 216, 216);
}

.row {
    padding: 10px;
}

.btn {
    margin-left: 5px;
    background-color: rgb(45,166,247);
}

li {
    border: groove;
    border-width: 1px;
    border-color: rgb(186, 186, 186);
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    width: 100%;
}

#cityList {
    padding-left: 0;
}

#dataDiv {
    padding: 15px;
    border: solid;
    border-width: 2px;
    border-color: lightgray;
}

h3 {
    margin-top: 7px;
}

.uvDivs {
    display: inline;
}

.uvLow {
    border: thin;
    background-color: rgb(35, 244, 35);
    border-radius: 15%;
    padding: 3px;
    opacity: 85%;
}

.uvMed {
    border: thin;
    background-color: yellow;
    border-radius: 15%;
    padding: 3px;
    opacity: 85%;
}

.uvHigh {
    border: thin;
    background-color: red;
    border-radius: 15%;
    padding: 3px;
    opacity: 90%;
}

#fiveDayForecast {
    padding-top: 10px;
}

.card {
    background-color: rgb(45,166,247);
    color: white;
}

.card-body {
    font-size: 13px;
}

img {
    width: 50px;
}